//link to main page
a {
	display: block;
	text-align: center;
	height: 50px;
	background-color: #ccc;
	color: #fff;
	line-height: 50px;
	font-weight: 600;
	font-size: 20px;
	margin: 0px 0px 70px 0px;
	position: sticky;
}

//table
.user-info {
	&__cnt {
		max-width: 1000px;
		margin: 0 auto;

		h1 {
			font-size: 30px;
			font-weight: 400;
			margin: 0px 0px 20px 20px;
		}
		.btn-cnt {
			padding: 0 10px;
		}
		table {
			margin-bottom: 30px;
		}
		.add-btn {
			display: block;
			width: 100%;
			color: #fff;
			border-radius: 5px;
			padding: 3px;
			font-weight: 600;
			background-color: rgb(6, 192, 90);
		}
		.btn-reset {
			background-color: rgb(214, 71, 71);
		}
	}
}
.btn {
	font-size: 14px;
	padding: 5px;
}
